{{ define "main" }}
<header class="page-header">
  <h1 class="page-title">{{ .Title }}</h1>
</header>

<div class="post-list">
  {{- range .Paginator.Pages -}}
    {{ partial "post-preview.html" . }}
  {{- end -}}
</div>

{{- $paginator := .Paginator -}}
{{- if or ($paginator.HasPrev) ($paginator.HasNext) -}}
<nav class="pagination">
  {{- if $paginator.HasPrev -}}
  <a href="{{ $paginator.Prev.URL }}">&larr; Mais recentes</a>
  {{- end -}}
  {{- if $paginator.HasNext -}}
  <a href="{{ $paginator.Next.URL }}">Mais antigos &rarr;</a>
  {{- end -}}
</nav>
{{- end -}}
{{ end }}
